autostart/
caja/
cinnamon/
cinnamon-session/
dconf/
enchant/
evolution/
goa-1.0/
gtk-3.0/
hexchat/
htop/
libreoffice/
menus/
nemo/
procps/
pulse/
qt5ct/
rofi/
user-dirs.dirs
user-dirs.locale
xed/
Code/
GIMP/
QtProject.conf
Raspberry Pi/
cinnamon-monitors.xml
freerdp/
go/
gtk-2.0/
kactivitymanagerdrc
kconf_updaterc
kdeconnect/
kdeglobals
kglobalshortcutsrc
mimeapps.list
mozilla/
nvm/
okularpartrc
okularrc
qBittorrent/
remmina/
rest-client/
session/
transmission/
kitty/kitty-themes/
kitty/kitty-themes/*
kitty/latte.conf
flameshot/
lazygit/
